* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #212425;
}

header {
    background-image: url(images/home-banner.jpg);
    height: 750px;
    background-size: auto;
    background-position: center;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 110px;
    text-transform: uppercase;
}

h2 {
    font-size: 16px;
    cursor: pointer;
}

h2:hover {
    color: #ED605A;
}

h3 {
    font-size: 35px;
    text-transform: uppercase;
}

p {
    color: #aaa9a9;
}

em {
    color: #aaa9a9;
}

.container {
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}

.container::after {
    clear: both;
    content: '';
    display: table;
}

/* navbar */
#navbar {
    height: 100px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

#navbar a {
    text-transform: uppercase;
    padding: 20px;
    cursor: pointer;
}

#navbar a:hover {
    color: #ED605A;
}

.navbar-left, .navbar-right {
    float: left;
    width: 50%;
    /* padding: 20px; */
}


/* jumbo */
#jumbo {
    height: 100px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;
    line-height: 90px;
}

#jumbo button {
    text-transform: uppercase;
    padding: 18px 38px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

#jumbo button:hover {
    border: 1px solid #aaa9a9;
    color: #aaa9a9;
}

.motivation-navbar {
    font-weight: 300;
    font-size: 20px;
}

/* main */
main {
    max-width: 100%;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    color: white;
}

/* world class */
.world-class {
    padding: 130px;
    text-align: center;
    max-width: 100%;
    background-color: #25292B;
    line-height: 60px;
}
/* world class fitness */
.world-class-text {
    font-size: 18px;
    padding: 5px 150px;

    line-height: 40px;
}

/* training session */
.training-session {
    padding: 130px;
    text-align: center;
    width: 100%;
    line-height: 60px;
    background-color: #1F2123;
    display: flex;
    align-items: center;
    justify-content: center;
}

.training-box {
    width: 1200px;
    display: flex;
    align-items: center;

}

.sign-up {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.sign-up-text {
    font-size: 22px;
    font-weight: 700;
}

.training-box label {
    color: #aaa9a9;
    font-size: 13px;
}

.training-box input {
    background-color: transparent;
    font-size: 13px;
    color: #3e4346;
    border: 1px solid #3e4346;
    padding: 16px 193px;
}

.training-box button {
    background-color: #ED605A;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 16px 210px;
    border: 1px solid #ED605A;
    margin-top: 30px;
    cursor: pointer;
}

.training-box button:hover {
    background-color: #DF5B53;
    border: 1px solid #DF5B53;
}

/* activities */
.activities {
    background-image: url(images/gym_bkgd_bw-compressor.jpg);
    height: 550px;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activities-box {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
}

.strength-box {
    max-width: 25%;
    padding: 13px;
    text-align: center;
    line-height: 30px;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #ED605A;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
    cursor: pointer;
}

.activities-box i {
    color: #ED605A;
    font-size: 40px;
    line-height: 80px;
}

.strength-text {
    font-size: 15px;
    color: #aaa9a9;
}

/* real world */
.real-world {
    background-color: #25292B;
    padding: 130px;
    text-align: center;
    max-width: 100%;
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.real-box {
    width: 1200px;
}

.real-world-cards1 {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
}

.real-world-cards2 {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
}

.real-card {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.real-text {
    text-align: left;
    line-height: 30px;
    padding: 0px 20px 0px 30px;
}

.real-text p {
    font-weight: bold;
}

.card1 {
    width: 100%;
    background-color: #1F2123;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    padding: 20px;
}

/* facilities */
.facilities {
    background-color: #25292B;
    padding: 130px;
    text-align: center;
    max-width: 100%;
    line-height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facilities-box {
    width: 1300px;
    margin-top: 40px;
}

.facilities-box img {
    padding: 0px 20px 0px 20px;
}
