* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #252a2d;
}

header {
    background-image: url(images/home-banner.jpg);
    height: 750px;
    background-size: auto;
    background-position: center;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 110px;
    text-transform: uppercase;
}

.container {
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}

.container::after {
    clear: both;
    content: '';
    display: table;
}

/* navbar */
#navbar {
    height: 100px;
    max-width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#navbar a {
    text-transform: uppercase;
    padding: 20px;
    cursor: pointer;
}

#navbar a:hover {
    color: #d5625f;
}

.navbar-left, .navbar-right {
    float: left;
    width: 50%;
    /* padding: 20px; */
}


/* jumbo */
#jumbo {
    height: 100px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;
    line-height: 90px;
}

#jumbo button {
    text-transform: uppercase;
    padding: 18px 38px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

#jumbo button:hover {
    border: 1px solid #aeafae;
    color: #aeafae;
}

.motivation-navbar {
    font-weight: 300;
    font-size: 20px;
}
